

<div class="container">
  <div class="search">
    <div class="row">
      <div class="col-md-12">
        <div class="search-1">
          <i class='bx bx-search-alt'></i>
          <div class="col-md-9">
            <%= form_with url: root_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Type a keyword"
                %>
          </div>
              <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
