<div class="bike-list">
  <!-- iteration here -->
  <% 20.times do %>
    <div class="bike-card-container">
      <div class="bike-image">
        <%= image_tag(asset_url("banner2")) %>
      </div>
      <div class="bike-header"><h3>Bike Header</h3></div>
      <div class="bike-details">
        <div class="bike-details-box">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>

    </div>
  <% end %>
</div>
